<key>AllowTenantList</key>
<dict>
<key>9f683e26-d8b9-4609-9ec4-e1a36e4bb4d2</key>
<true/>
</dict>

<key>AutomaticUploadBandwidthPercentage</key>
<integer>50</integer>
<key>BlockExternalSync</key>
<true/>
<key>DefaultFolder</key>
<dict>
<key>Path</key>
<string>~/</string>
<key>TenantId</key>
<string>9f683e26-d8b9-4609-9ec4-e1a36e4bb4d2</string>
</dict>

<key>DisablePersonalSync</key>
<true/>
<key>DisableTutorial</key>
<true/>
<key>FilesOnDemandEnabled</key>
<true/>
<key>HideDockIcon</key>
<true/>
<key>OpenAtLogin</key>
<true/>
<key>KFMSilentOptIn</key>
<string>9f683e26-d8b9-4609-9ec4-e1a36e4bb4d2</string>
<key>KFMSilentOptInWithNotification</key>
<true/>
<key>KFMBlockOptOut</key>
<true/>
<key>KFMOptInWithWizard</key>
<string>9f683e26-d8b9-4609-9ec4-e1a36e4bb4d2</string>
